{% extends 'homepage/header.html' %}


{% block content %}
<title>MIKHAEL OREIRO | Contact</title>
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text"><h3>Let's shoot or collaborate!<br>
                        You can contact me at:</br></h3>
                        <br>Phone: [ 209.981.3979 ]<br>Email: [ mikhaeloreiro@yahoo.com ]</br></br>
                        <a href="https://twitter.com/mikoreim">
						<img src="static/icons/Twitter.png" alt="Social" height="42" width="42"></a>
						<a href="https://www.instagram.com/mikhael.oreiro/">
						<img src="static/icons/Instagram.png" alt="Social" height="42" width="42"></a>
						<a href="https://www.facebook.com/siczic">
						<img src="static/icons/Facebook.png" alt="Social" height="42" width="42"></a>
                        </p>
                     </div>
                </div>
            </div>
        </div>
    </header> 
{% endblock %}
