{% extends 'homepage/header.html' %}


{% block content %}
<title>MIKHAEL OREIRO | Home</title>
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h6 class="brand-heading">Portrait. Event. Lifestyle.</h6>
                    	<a href="https://twitter.com/mikoreim">
						<img src="static/icons/Twitter.png" alt="Social" height="42" width="42"></a>
						<a href="https://www.instagram.com/mikhael.oreiro/">
						<img src="static/icons/Instagram.png" alt="Social" height="42" width="42"></a>
						<a href="https://www.facebook.com/siczic">
						<img src="static/icons/Facebook.png" alt="Social" height="42" width="42"></a>
                    </div>
                </div>
            </div>
        </div>
    </header> 
{% endblock %}